<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucky.renaissance17">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name=".Sponsors"/>
        <activity android:name=".SplashContent" />
        <activity android:name=".Endeavour" />
        <activity android:name=".Information" />
        <activity android:name=".Quanta" />
        <activity android:name=".Schedule" />
        <activity android:name=".About" />
        <activity android:name=".Dev" />
        <activity android:name=".Zarurat" />
        <activity android:name=".Alumni" />
        <activity android:name=".FlowingActivities.MainFlowingActivity"
            android:theme="@style/AppThemeFlowing"
            ></activity>
    </application>

</manifest>